@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(161, 100, 223);
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  min-height: 300px;
}

h1 {
  color: #fff;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  background-color: rebeccapurple;
  margin: 1rem;
  color: #fff;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  transform: scale(0.98);
  background-color: purple;
}